html, body {
  padding: 0;
  margin: 0;
}

#container-main{
  background-image: linear-gradient(to right, rgb(0, 1, 51) , rgb(62, 68, 92));
  opacity: 90%;
}

a {
  color: white;
  text-decoration: none;
}

/* Up-Arrow style */

#arrow {
  z-index: 1;
  width: 90px;
  height: 50px;
  display: absolute;
  margin-left: 50vw;
  position: fixed;
  opacity: 0;
}

#arrow:hover #left-arr {
  animation: arrow-back-color 1s;
  animation-fill-mode: forwards;
}

#arrow:hover #right-arr {
  animation: arrow-back-color 1s;
  animation-fill-mode: forwards;
}

#left-arr {
  z-index: 1;
  height: 50px;
  width: 10px;
  transform: rotate(45deg);
  margin-left: 25px;
  overflow: hidden;
  position: absolute;
  background-color: rgb(61, 105, 143);
  
}

#right-arr {
  background-color: rgb(61, 105, 143);
  height: 50px;
  width: 10px;
  transform: rotate(-45deg);
  margin-left: 54px;
  overflow: hidden;
  position: absolute;
}

@keyframes arrow-back-color {
  0% {
    background-color: rgb(61, 105, 143);
  }
  100% {
    background-color: white;
  }
}

@keyframes arrow-back-color-rev {
  0% {
    background-color: white;
    
  }
  100% {
    background-color: rgb(61, 105, 143);
  }
}

#arrow:not(:hover) #left-arr {
  animation: arrow-back-color-rev 1s;
  animation-fill-mode: forwards;
}

#arrow:not(:hover) #right-arr {
  animation: arrow-back-color-rev 1s;
  animation-fill-mode: forwards;
}

#arrow-link {
  width: 90px;
  height: 50px;
}

#top-link{
  width: 10px;
  height: 10px;
  position: absolute;
}

@keyframes arrow-appearing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5
    ;
  }
}

@keyframes arrow-appearing-rev {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

/* Up-Arrow style */

/* Header style */

#data {
  min-height: 101vh;
}
#header-text {
  font-size: 4vw;
  margin: 0;
  color: white;
}

#header-container {
  margin-top: 50px;
  position: absolute;
  font-size: 5em;
}

.lineUp {
  animation: 2s anim-lineUp ease-out;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

/* Header style */

/* Header image style */

#img-container {
  position: absolute;
  right: 12.5vw;
  bottom: 0;
}

#naushaubaev-img {
  height: 90vh;
  animation: 2s imgAnim ease-out;
  margin-right: 0;
  padding-right: 0;
  -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)))
  
}

@keyframes imgAnim {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Header image style */

/* Header menu style */

#menu {
  color: white;
  margin-top: 5vh;
  padding-top: 10px;
  font-size: 5vh;
  padding-bottom: 10px;
  animation: 2s imgAnim ease-out;
}

.menu_i{
  opacity: 0.7;
  transition: 0.3s;
}

.menu_i:hover {
  opacity: 1;
  transform: scale(1.05);
}

/* Header menu style */

/* Section style */

.section {
  min-height: 101vh;
  padding-bottom: 5vh;
}

.section-header {
  margin-top: 10px;
  display: inline-block;
  font-size: 9vh;
  width: auto;
  background-color: white;
  opacity: 0;
  margin-bottom: 0;
}

@keyframes onScrollHeadersAnim {
  0% {
    margin-left: -30px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

@keyframes mainTextAnim {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.section-text {
  margin-top: 30px;
  color: white;
}

@keyframes section-img-ltor {
  0% {
    
  }

}

/* Section style */

/* Book style */

.book-container {
  color: white;
}

.book {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 2px 2px rgba(162, 194, 223, 0.566);
  transition: 0.3s;
  border-radius: 7px;
  overflow: hidden;
  background-size:cover;
  background-position: center;
  opacity: 1;
}

#book1 {
  background-image: url("book1.jpg");
}


#book2 {
  background-image: url("book2.jpg");
}

.book:hover {
  box-shadow: 6px 6px 4px 4px rgba(162, 194, 223, 0.566);
  transform: translate(-10px, -10px) scale(1.02);
}

.book-cover {
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: white;
  transition: 0.5s;
  position: relative;
}

.book-cover:hover {
  opacity: 0.8;
}

.book-title {
  font-size: 2vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  color: black;
}

#book1-title {
  font-size: 2vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

#book2-title {
  font-size: 2vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

#book1:hover {
  box-shadow: 6px 6px 4px 4px rgba(162, 194, 223, 0.566);
  transform: translate(-10px, -10px) scale(1.02);
}

.book-container {
  margin-top: 13vh;
  width: 20vw;
  height: 60vh;
  opacity: 0;
}

/* Book style */

/* Footer style */

#footer {
  width: 100%;
  height: 20vh;
  background-color: black;
  opacity: 0.8;
  margin: 0;
  padding: 0;
  text-align: center;
  padding-top: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-element {
  text-align: center;
}

.footer-text {
  margin: 0;
  padding: 0;
  font-size: 2vh;
  color: white;
}

/* Footer style */

/* Section with imgs */
.section-top {
  margin: 0;
}

.section-bottom {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  color: white;
}

.section-text-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.section-text-2 {
  grid-column-start: 3;
  grid-column-end: 6;
}

.section-img-1 {
  grid-column-start: 4;
  grid-column-end: 6;
}

.section-img-2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.section-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.section-img-container {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.section-bottom-text {
  padding: 20px;
  opacity: 0;
}

@keyframes img-r-to-l {
  0% {
    margin-right: -10px;
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}

@keyframes img-l-to-r {
  0% {
    margin-left: -10px;
    opacity: 0;
  }
  100% {
    margin-left: 0;
    opacity: 1;
  }
}

/* Section with imgs */