#arrow {
    background-color: rgb(32, 106, 172);
    width: 90px;
    height: 100px;
    display: inline-block;
}

#left-arr {
    z-index: 1;
    height: 50px;
    width: 10px;
    transform: rotate(45deg);
    margin-left: 25px;
    overflow: hidden;
    position: absolute;
}

#right-arr {
    
    height: 50px;
    width: 10px;
    transform: rotate(-45deg);
    margin-left: 54px;
    overflow: hidden;
    position: absolute;
}

#black-l {
    position: absolute;
    background-color: black;
    height: 50px;
    width: 10px;
    animation: arr-anim-l 0.5s;
}

#white-l {
    position: absolute;
    background-color: white;
    height: 50px;
    width: 10px;
}

#black-r {
    position: absolute;
    background-color: black;
    height: 50px;
    width: 10px;
    animation: arr-anim-r 1s;
}

#white-r {
    position: absolute;
    background-color: white;
    height: 50px;
    width: 10px;
}

@keyframes arr-anim-l {
    0% {
        margin-top: 50px;
    }
    100% {
        margin-top: 0;
    }
}

@keyframes arr-anim-r {
    0% {
        margin-top: -50px;
    }
    50% {
        margin-top: -50px;
    }
    100% {
        margin-top: 0;
    }
}
